In [1]:
a = 10
a, b = 10,20
a = b = 30
a = 10,20

In [2]:
a

(10, 20)

In [3]:
type(a)

tuple

In [4]:
print(4,5,6,8,9)

4 5 6 8 9

In [5]:
print(5,7,8, sep="-")

5-7-8

In [7]:
print(5,7,8, end="\t")
print(8,9,10)

5 7 8	8 9 10

In [8]:
k = print('hi')

hi

In [9]:
k

In [10]:
type(k)

NoneType

In [11]:
print(k)

None

In [12]:
m = input("Enter your name :")

In [13]:
m

'Maruf khan'

In [14]:
type(m)

str

In [15]:
n = input("Enter a number of your choice:")

In [16]:
n

'12'

In [17]:
type(n)

str

In [18]:
p = input("Enter a python expression:")
print(p)
print(eval(p))

5+5
10

In [19]:
# Mutability
s = "Hello this is a new process"

In [20]:
print(s)

Hello this is a new process

In [21]:
len(s)

27

In [22]:
type(s)

str

In [23]:
# Indexing
s[0]

'H'

In [24]:
s[-1]

's'

In [25]:
# Slicing- [begin: end(exclusive):step size]
# [: : ..........] step size = +1
s[0:5:1]

'Hello'

In [26]:
s[-7:28]

'process'

In [27]:
s[-1:-8:-1]

'ssecorp'

In [38]:
s[-23:-28:-1]

'olleH'

In [42]:
s[-18:-23:-1]

'siht '

In [43]:
# to get the last 10 char
s[-10:]

'ew process'

In [44]:
s

'Hello this is a new process'

In [47]:
'hi'*10

'hihihihihihihihihihi'

In [48]:
'hi'+'bye'

'hibye'

In [49]:
s

'Hello this is a new process'

In [50]:
s+= ' here'

In [51]:
s

'Hello this is a new process here'

In [52]:
s = s[:5] + ' Ankit' + s[5:]

In [53]:
s

'Hello Ankit this is a new process here'

In [58]:
s[0] = 'k'

TypeError: 'str' object does not support item assignment

In [59]:
del s[0]

TypeError: 'str' object doesn't support item deletion

In [64]:
a = [23,39,[4,2,5]]

In [65]:
print(a)

[23, 39, [4, 2, 5]]

In [66]:
print(len(a))

3

In [67]:
print(type(a))

<class 'list'>

In [70]:
# learn about nested indexing
a
[4,7,8]*2

[4, 7, 8, 4, 7, 8]

In [71]:
[4,7,8] + ['hi',9]

[4, 7, 8, 'hi', 9]

In [72]:
a+=[10,20]

In [73]:
a

[23, 39, [4, 2, 5], 10, 20]

In [74]:
a+=['Hello']

In [75]:
a

[23, 39, [4, 2, 5], 10, 20, 'Hello']

In [76]:
del a[0]

In [77]:
a

[39, [4, 2, 5], 10, 20, 'Hello']

In [78]:
a[0] = 9.08

In [79]:
a

[9.08, [4, 2, 5], 10, 20, 'Hello']

In [99]:
b = (1,2,3,4,5)

In [100]:
b

(1, 2, 3, 4, 5)

In [101]:
len(b)

5

In [102]:
type(b)

tuple

In [103]:
b+=(6,7,8)

In [104]:
b

(1, 2, 3, 4, 5, 6, 7, 8)

In [105]:
del b[0]

TypeError: 'tuple' object doesn't support item deletion

In [106]:
b[0] = 9

TypeError: 'tuple' object does not support item assignment

In [108]:
a

[9, [4, 2, 5], 10, 20, 'Hello', 6, 7, 8]

In [109]:
a+={'a1':4, 'b1':5}

In [110]:
a

[9, [4, 2, 5], 10, 20, 'Hello', 6, 7, 8, 'a1', 'b1']

In [111]:
b+={'a1':4, 'b1':5}

TypeError: can only concatenate tuple (not "dict") to tuple

In [112]:
d = {'a1':4, 'b1':5}
print(d)
print(len(d))
print(type(d))
print(d['a1'])

{'a1': 4, 'b1': 5}
2
<class 'dict'>
4

In [113]:
d['c1'] = [9,2,5,7]

In [114]:
d

{'a1': 4, 'b1': 5, 'c1': [9, 2, 5, 7]}

In [116]:
del d['a1']

In [117]:
d

{'b1': 5, 'c1': [9, 2, 5, 7]}

In [118]:
e = {4,6,3,6,3,5,8,3,5,23,6}

In [119]:
print(e)

{3, 4, 5, 6, 23, 8}

In [120]:
e[0:]

TypeError: 'set' object is not subscriptable

In [121]:
bool(9)

True

In [122]:
bool(-9)

True

In [123]:
# True:non-zero or non empty data
# False: zero or empty data
bool(0)

False

In [124]:
bool('')

False

In [126]:
bool([])

False

In [127]:
bool({})

False

In [128]:
bool(None)

False

In [130]:
print(bool([4]))
print(bool([()]))
print(bool(' '))

True
True
True